/* CSS pour le header */
.header {
    background-color: blue; /* Couleur de fond bleue */
    color: white; /* Couleur du texte blanche pour un bon contraste */
  }
  
  /* CSS pour le menu */
  .menu {
    background-color: blue; /* Couleur de fond bleue */
    color: white; /* Couleur du texte blanche pour un bon contraste */
  }
  