<html>
<head>
  <meta charset="utf-8">
  <title>Stackfindover: Sign in</title>

</head>

<body>
  <div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
      <div class="loginbackground box-background--white padding-top--64">
        <div class="loginbackground-gridContainer">
          <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
            <div class="box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
            </div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
            <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
            <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
            <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
            <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
            <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
            <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
            <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
            <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
          </div>
        </div>
      </div>
      <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
          <h1><a href="" rel="dofollow">AxelyRisk Solution</a></h1>
        </div>
        <div class="formbg-outer">
          <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
              <span class="padding-bottom--15"><h1>S’inscrire</h1>
               <h3>C’est simple et rapide.</h3></span>
              <form id="stripe-login" *ngIf="!isLogedIn" [formGroup]="form" (ngSubmit)="onSubmit()"
             >
             <div class="field padding-bottom--24">
              <label for="username">Username</label>
              <input type="text" name="username" formControlName="username" #username required>
              <div class="alert alert-danger" role="alert" *ngIf="form.get('username')?.touched && form.get('username')?.errors?.['required']">
              Username is required!
            </div>
            </div>
            <div class="field padding-bottom--24">
              <label for="fullname">Fullname</label>
              <input type="text" name="fullname" formControlName="fullname"  required #fullname>
              <div
              class="alert alert-danger" role="alert" *ngIf="form.get('fullname')?.touched && form.get('fullname')?.errors?.['required']">
              Fullname is required!
            </div>
            </div>
                  <div class="field padding-bottom--24">
                    <label for="email">Email</label>
                    <input type="email" name="email" formControlName="email" #email required>
                    <div class="alert alert-danger" role="alert" *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']">
                      Email is required!
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="form.get('email')?.errors?.['email'] && form.get('email')?.touched">
                      Please enter a valid email address.
                    </div>
                  </div>
                  <div class="field padding-bottom--24">
                    <label for="phone">Phone</label>
                    <input type="text" name="phone" formControlName="phone" minlength="8" #phone required>
                    <div class="alert alert-danger" role="alert" *ngIf="form.get('phone')?.touched && form.get('phone')?.hasError('minlength')">
                      Phone must be 8 numbers
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="form.get('phone')?.touched && form.get('phone')?.errors?.['required']">Phone is required!</div>



                  </div>
                  <div class="field padding-bottom--24">
                    <label for="password">password</label>
                    <input type="password" name="password" formControlName="password" #password minlength="8" required>
                    <div class="alert alert-danger" role="alert" *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['required']">
                      Password is required!
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="form.get('password')?.touched && form.get('password')?.hasError('minlength')">
                      Password must be minimum 8 characters
                    </div>


                  </div>

                  <div class="field padding-bottom--24">
                    <label for="password">Confirm password</label>
                    <input type="password" name="confirmPassword" formControlName="confirmPassword" #confirmPassword required>
                    <div class="alert alert-danger" role="alert" *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.errors?.['required']">
                      Confirm password is required
                    </div>
                  <div class="alert alert-danger" role="alert" *ngIf="form.get('confirmPassword')?.errors?.['mismatch'] && (form.get('confirmPassword')?.dirty || form.get('confirmPassword')?.touched)">
                    Password do not match please verify!
                  </div>



                  </div>

                  <div class="field padding-bottom--24">
                    <input type="submit" name="submit" value="Register" style="color: #5469d4;font-weight: bold;">
                    <div class="form-group">
                      <div
                        class="alert alert-danger"
                        role="alert"
                        *ngIf=" isLoginFailed"
                      >
                        Exesting Username
                      </div>
                    </div>
                  </div>
              </form>
            </div>
          </div>
          <div class="footer-link padding-top--24">
            <span><a routerLink="/login">Sign in</a></span>
            <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
              <span><a href="#">© Stackfindover</a></span>
              <span><a href="#">Contact</a></span>
              <span><a href="#">Privacy & terms</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
