<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<aside class="left-sidebar" data-sidebarbg="skin5" style="height: 900px;background-color: #0F265B;">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4" style="background-color: #0F265B;">
                <li class="sidebar-item" style="background-color: #0F265B;">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/admin/dashboard" aria-expanded="false" style="text-decoration: none;font-family: serif;">
                        <img style="height: 23px;width: 23px;" src="../assets/images/settings.png" alt="Icon">
                        <span class="hide-menu">Menu Général</span>

                    </a>
                </li>
                <li class="sidebar-item" [hidden]="accessAdmin"  style="background-color: #0F265B;">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" style="text-decoration: none;font-family: serif;" data-bs-toggle="collapse" href="#relationClientSubMenu" role="button" aria-expanded="false" aria-controls="relationClientSubMenu">
                        <span class="hide-menu"><img style="height: 27px;width: 23px;margin-bottom: 12px;" src="../assets/images/clientF.png" alt="Icon">Relation Client</span>
                    </a>
                    <ul class="sidebar-submenu collapse" id="relationClientSubMenu">
                        <li class="sidebar-item" style="background-color: #0F265B;">
                            <a [routerLink]="['/admin/ClientProfesFolder/upload-csv-client']" class="sidebar-link" style="text-decoration: none;font-family: serif;"><img style="height: 23px;width: 23px" src="../assets/images/fileF.png" alt="Icon">Importer un fichier CSV</a>
                            <a [routerLink]="['/admin/ClientProfesFolder/listc']" class="sidebar-link" style="text-decoration: none;font-family: serif;"><img style="height: 23px;width: 23px" src="../assets/images/documents.png" alt="Icon">Consulter Client</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item" [hidden]="accessAdmin" style="background-color: #0F265B;">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" style="text-decoration: none;font-family: serif;" data-bs-toggle="collapse" href="#situationClientSubMenu" role="button" aria-expanded="false" aria-controls="situationClientSubMenu">

                        <span class="hide-menu"><img style="height: 23px;width: 23px;margin-bottom: 12px;" src="../assets/images/verified.png" alt="Icon">Situation Client</span>
                    </a>
                    <ul class="sidebar-submenu collapse" id="situationClientSubMenu">
                        <li class="sidebar-item" style="background-color: #0F265B;">
                            <a [routerLink]="['/admin/ClientProfesFolder/Situation/upload-situation-csv']" class="sidebar-link" style="text-decoration: none;font-family: serif;"><img style="height: 23px;width: 23px" src="../assets/images/fileF.png" alt="Icon">Importer un fichier CSV</a>
                            <a [routerLink]="['/admin/ClientProfesFolder/Situation/list-situation']" class="sidebar-link" style="text-decoration: none;font-family: serif;"><img style="height: 23px;width: 23px" src="../assets/images/documents.png" alt="Icon">Consulter Situation Client</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item" [hidden]="accessAdmin" style="background-color: #0F265B;" >
                  <a class="sidebar-link has-arrow waves-effect waves-dark" data-bs-toggle="collapse" href="#notationClientSubMenu" role="button" aria-expanded="false" aria-controls="notationClientSubMenu" style="text-decoration: none;font-family: serif;">
                    <span class="hide-menu"><img style="height: 23px;width: 23px;margin-bottom: 12px;" src="../assets/images/payment.png" alt="Icon">Notation Client</span>
                  </a>
                  <ul class="sidebar-submenu collapse" id="notationClientSubMenu">
                    <li class="sidebar-item" style="background-color: #0F265B;">
                      <a [routerLink]="['/admin/ClientProfesFolder/Notation/list-client-notation']" class="sidebar-link" style="text-decoration: none;font-family: serif;">
                        <img style="height: 23px;width: 23px" src="../assets/images/remplirNotation.png" alt="Icon">Noter Client
                      </a>
                     <a [routerLink]="['/admin/ClientProfesFolder/Notation/modifier-notation']" class="sidebar-link" style="text-decoration: none;font-family: serif;">
                        <img style="height: 23px;width: 23px" src="../assets/images/changeNotes.png" alt="Icon">Modifier Notation
                      </a>
                      <a [routerLink]="['/admin/ClientProfesFolder/Notation/list-notation-consulter']" class="sidebar-link" style="text-decoration: none;font-family: serif;">
                        <img style="height: 23px;width: 23px" src="../assets/images/ConsulterNotation.png" alt="Icon">Consulter Notation
                      </a>
                    </li>
                  </ul>
                  </li>
            </ul>
        </nav>
    </div>
</aside>
