<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark-secondary" >
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand" href="#">
                <img src="../assets/images/logo.png" style="height: 40px;width: 120px;" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse" style="margin-left: 500px;">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-uppercase font-weight-100 letter-spacing-4px" href="#vision">Notre Vision
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase font-weight-100 letter-spacing-4px" href="#expertise">Notre Expertise</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase font-weight-100 letter-spacing-4px" href="#service">Nos Services</a>
                    </li>
                    <button type="button" class="btn btn-primary" style="background-color: #0F265B;border-radius: 20px;border-color: #0F265B;">CONTACTEZ-NOUS</button>

                </ul>
            </div>
        </div>
    </nav>
</header>

<main>

    <section class="background grid grid-center" id="showcase-background-1">
        <div class="container text-white">
            <h1 class="display-2 mb-3">
                CRÉER
                </h1>
            <div class="row">
                <div class="col-12 col-lg-8">
                    <p>des modèles de risque, évaluez des paramètres de risque et élaborez des tableaux de bord.

                    </p>
                </div>
            </div>
            <a class="pr-5 pl-5 pt-2 pb-2 text-white btn text-uppercase font-weight-bold btn-gradient">Connectez-vous maintenant !</a>
        </div>
    </section>

    <section class="pb-5 pt-5 bg-dark-secondary" style="background-color: white;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 text-black">
                    <h2 class="text-uppercase display-4">À PROPOS AXLEY</h2>
                    <hr class="hr-red" >
                    <h1 class="text-uppercase display-4" style="font-weight: bold;color: #0F265B;">Qui sommes nous</h1>
                    <p class="mt-5 font-weight-100 letter-spacing-4px">Axley Risk Solutions est un éditeur de logiciel offrant des solutions regroupant des outils de Risk Analytics (Scoring et Notation) et des outils de calcul des provisions économiques ECL selon les normes internationales (IFRS 9 et Bâle III).


                        Axley Risk Solutions Offre des solutions logicielles de gestion du risque de crédit et des solutions de conformité réglementaire bancaire. Axley Risk Solutions dote ses clients d’outils performants pour la mesure, la gestion et le suivi du risque (risque de crédit, de marché, et risque opérationnel), pour la gestion actif- passif et pour la modélisation des paramètres de risques: PD, LGD, EAD et CCF.


                        Nos logiciels permettent de mettre en œuvre les réglementations et assurent la mise en conformité au nouvel environnement réglementaire, notamment sur Bâle III et
                        IFRS 9.

                        Nous fournissons une gamme complète d’outils, d’analyses et de solutions de gestion des risques aux institutions financières et aux banques. Nos solutions aident les clients à identifier, mesurer et calibrer une gamme complète de risques : crédit, prix, marché, change et liquidité, opérationnels, stratégiques et réglementaires.</p>
                </div>
                <br>
                <br>
                <div class="col-12 col-lg-6">
                    <aside class="bg-dark-primary text-white">
                        <div class="card-header p-0" style="width: 500px;margin-left: 20px;">
                            <img class="cover" src="../assets/images/quiNous2.jpg" alt="Singer">
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
    <section class="pb-5 pt-5 bg-dark-secondary" style="background-color: white;" id="vision">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <aside class="bg-dark-primary text-white">
                        <div class="card-header p-0" style="width: 450px;margin-left: 10px;">
                            <img class="cover" src="../assets/images/vision1.jpg" alt="Singer">
                        </div>
                    </aside>
                </div>
                <div class="col-12 col-lg-6 text-black">
                    <hr class="hr-red">
                    <h1 class="text-uppercase display-4" style="font-weight: bold;color: #0F265B;">Notre Vision</h1>
                    <p class="mt-5 font-weight-100 letter-spacing-4px">Axley Risk Solutions, filiale de Axley Bankers, offre des Software pour les banques de détail & les institutions financières spécialisées partout dans les marchés émergents avec une particularité les marchés africains.

                        Son objectif est d’accompagner les directions de crédit ainsi que les directions des risques dans l’industrialisation du process de crédit et en particulier le scoring et la notation aussi bien du portefeuille de crédit que les demandes individuelles de crédits.
                        La société s’appuie pour cela sur l’engagement et l’expertise de sa maison mère Axley Bankers.

                        Axley Risk Solutions dispose de méthodologies éprouvées et des best practices pour aider l’institution financière à bâtir une culture consciente des risques, à optimiser le capital et la liquidité et à répondre aux exigences réglementaires.

                        La plate-forme Axley Risk Solutions contient tout ce dont vous avez besoin, de la capture et de la conception de modèles de décision aux tests et à la surveillance de la prise de décision automatisée sur tous vos systèmes, flux de travail et canaux. Il intègre de manière unique l’intelligence artificielle pour améliorer encore la qualité des décisions et augmenter les taux d’automatisation du process de notation et de Scoring.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="pb-5 pt-5 bg-dark-secondary" style="background-color: white;" id="service">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 text-black">
                    <hr class="hr-red" >
                    <h1 class="text-uppercase display-4" style="font-weight: bold;color: #0F265B;">Nos Services</h1>
                    <p class="mt-5 font-weight-100 letter-spacing-4px">Axley Risk Solutions est un fournisseur de solutions logicielles comprenant, outre sa gamme de progiciels, les services d’intégration, de support et de conseil associés.

                        Son objectif est d’accompagner les banques et institutions financières dans leur stratégie de mise en place d’outils de pilotage des risques et de notation, par une approche de partenariat à long terme.

                        Le savoir-faire et l’expertise spécifique des équipes de Axley Risk Solutions, permettant de répondre aux besoins d’innovation et de développement de banques et institutions financières de toute taille.


                       </p>

                </div>
                <div class="col-12 col-lg-6">
                    <aside class="bg-dark-primary text-white">
                        <div class="card-header p-0" style="width: 450px;margin-left: 100px;margin-top: 110px;">
                            <img class="cover" src="../assets/images/NosServisses.jpg" alt="Singer">
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
    <section class="pb-5 pt-5 bg-dark-secondary" style="background-color: white;" id="vision">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <aside class="bg-dark-primary text-white">
                        <div class="card-header p-0" style="width: 450px;margin-left: 10px;">
                            <img class="cover" src="../assets/images/expertise 4.jpg" alt="Singer">
                        </div>
                    </aside>
                </div>
                <div class="col-12 col-lg-6 text-black">
                    <hr class="hr-red">
                    <h1 class="text-uppercase display-4" style="font-weight: bold;color: #0F265B;" id="expertise">Notre Expertise</h1>
                    <p class="mt-5 font-weight-100 letter-spacing-4px">Dotée d’une expérience de plus de 13 ans dans le domaine bancaire, Axley Risk Solutions est devenue un opérateur reconnu dans l’édition et l’intégration des solutions logicielles destinées aux banques et institutions financières dans le modèle de Scoring et Notation.

                        Grâce à son expertise, Axley Risk Solutions a réussi à se forger une réputation de très haut niveau sur son marché de référence d’autant plus son adossement au Cabinet de Conseil en Stratégie Bancaire Axley Bankers.

                        Notre expertise dans l’exécution et la gestion de divers engagements liés aux risques, notre compréhension approfondie des exigences réglementaires et de mise en œuvre spécifiques et notre groupe de professionnels expérimentés nous permettent de fournir des solutions de Scoring et de Notation adaptées à chaque marché.

                        Nous complétons notre force de conseil et nos compétences analytiques de base avec un logiciel propriétaire robuste pour fournir des solutions efficaces pour la gestion des risques bancaires.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <section class="background pb-5 pt-5 text-white text-center" id="showcase-background-2">
        <div class="container">
            <h2 class="text-uppercase display-4">Avez-vous envisagé de développer un Système de Notation et de Scoring ?</h2>
            <hr class="hr-red">
            <p>Contactez-nous dès maintenant pour commencer à discuter avec nos experts de vos besoins et de la manière dont nous pouvons vous aider à atteindre vos objectifs</p>


        </div>
    </section>

    <section class="pb-5 pt-5 text-white text-center">
        <h2 class="text-uppercase display-4">Latest Updates</h2>
        <hr class="hr-red">
        <br>
        <h3 class="mt-5 fab fa-twitter"></h3>
        <p class="font-weight-100 letter-spacing-4px"><i class="fas fa-quote-left"></i> I am looking forward to attending the Jonathan Smith's Concert!!! <i class="fas fa-quote-right"></i></p>
    </section>

    <div class="contact-section" style="margin-bottom: 150px;">
        <div class="location">
          <h3>Londres. Grande Bretagne</h3>
          <p>71-75 Shelton Street, Covent Garden, London, WC2H 9JQ</p>
          <p>+44 020 7871 9990</p>
          <a href="mailto:london@exemple.com">london@axleybankers.com</a>
        </div>
        <div class="location">
          <h3>Paris, France</h3>
          <p>10 Rue de la Pais, 75002 Paris, France
        </p>
          <p>+33 1 44 70 70 70
        </p>
          <a href="mailto:paris@exemple.com">paris@axleybankers.com
        </a>
        </div>
        <div class="location">
            <h3>Tunis. Tunisie</h3>
            <p>Mohamed V - 6 rue Jameleddine Afghani
            </p>
            <p>+216 71 546 355
            </p>
            <a href="mailto:london@exemple.com">tunis@axleybankers.com
            </a>
          </div>
      </div>
</main>

<footer class="text-white pt-3 pb-3">
    <div class="container d-flex align-items-center justify-content-between">
        <!-- <small>Concert 2018. All rights reserved.</small>
        <ul class="list-unstyled d-flex p-0 m-0">
            <li class="p-3">
                <a class="text-white text-decoration-none" href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="p-3">
                <a class="text-white text-decoration-none" href="#">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li class="p-3">
                <a class="text-white text-decoration-none" href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
        </ul>-->
    </div>
</footer>




